In [85]:
import numpy as np
import pandas as pd

families = pd.read_csv('families.txt', names = ['PlaneFam'])
families.head()

  PlaneFam
0     A300
1     A310
2     A320
3     A330
4     A340

In [86]:
fam_dict = families.to_dict()['PlaneFam']

In [87]:
fam_dict

{0: 'A300',
 1: 'A310',
 2: 'A320',
 3: 'A330',
 4: 'A340',
 5: 'A380',
 6: 'ATR-42',
 7: 'ATR-72',
 8: 'An-12',
 9: 'BAE 146',
 10: 'BAE-125',
 11: 'Beechcraft 1900',
 12: 'Boeing 707',
 13: 'Boeing 717',
 14: 'Boeing 727',
 15: 'Boeing 737',
 16: 'Boeing 747',
 17: 'Boeing 757',
 18: 'Boeing 767',
 19: 'Boeing 777',
 20: 'C-130',
 21: 'C-47',
 22: 'CRJ-200',
 23: 'CRJ-700',
 24: 'Cessna 172',
 25: 'Cessna 208',
 26: 'Cessna Citation',
 27: 'Challenger 600',
 28: 'DC-10',
 29: 'DC-3',
 30: 'DC-6',
 31: 'DC-8',
 32: 'DC-9',
 33: 'DH-82',
 34: 'DHC-1',
 35: 'DHC-6',
 36: 'DR-400',
 37: 'Dash 8',
 38: 'Dornier 328',
 39: 'EMB-120',
 40: 'Embraer E-Jet',
 41: 'Embraer ERJ 145',
 42: 'Embraer Legacy 600',
 43: 'Eurofighter Typhoon',
 44: 'F-16',
 45: 'F/A-18',
 46: 'Falcon 2000',
 47: 'Falcon 900',
 48: 'Fokker 100',
 49: 'Fokker 50',
 50: 'Fokker 70',
 51: 'Global Express',
 52: 'Gulfstream',
 53: 'Hawk T1',
 54: 'Il-76',
 55: 'King Air',
 56: 'L-1011',
 57: 'MD-11',
 58: 'MD-80',
 59: 'MD-90',
 60: 'Metroliner',
 61: 'PA-28',
 62: 'SR-20',
 63: 'Saab 2000',
 64: 'Saab 340',
 65: 'Spitfire',
 66: 'Tornado',
 67: 'Tu-134',
 68: 'Tu-154',
 69: 'Yak-42'}

In [88]:
images_box = pd.read_csv('images_box.txt', names = ['image', 'xmin', 'ymin', 'xmax', 'ymax'], delim_whitespace=True)
images_box['image']=images_box['image'].astype(str).str.zfill(7)
print(images_box.dtypes)
images_box.head()

image    object
xmin      int64
ymin      int64
xmax      int64
ymax      int64
dtype: object

     image  xmin  ymin  xmax  ymax
0  1025794     3   144   998   431
1  0481847    73   220  1198   508
2  1514522     7   217  1196   551
3  1340192    83   155   964   462
4  0810608    19   146   986   443

In [89]:
from PIL import Image

width_list, height_list = [], []

for index, row in images_box.iterrows():
    with Image.open('/home/barrett/aircraft/fgvc-aircraft-2013b/data/images/'+str(row['image']).zfill(7)+'.jpg') as img:
        width, height = img.size
        width_list.append(width)
        height_list.append(height)

images_box['totwidth'] = width_list
images_box['totheight'] = height_list
images_box.head()

     image  xmin  ymin  xmax  ymax  totwidth  totheight
0  1025794     3   144   998   431      1024        695
1  0481847    73   220  1198   508      1200        802
2  1514522     7   217  1196   551      1200        882
3  1340192    83   155   964   462      1024        699
4  0810608    19   146   986   443      1024        745

In [90]:
# bbox coords need to be converted to floats
# Format is classnum (families index) float float float float
# x_center y_center width height truncated to 6 dec places

images_box['x_center'] = ((images_box['xmax']-images_box['xmin'])/2)/images_box['totwidth']
images_box['y_center'] = ((images_box['ymax']-images_box['ymin'])/2)/images_box['totheight']

images_box['width'] = (images_box['xmax']-images_box['xmin'])/images_box['totwidth']
images_box['height'] = (images_box['ymax']-images_box['ymin'])/images_box['totheight']

In [91]:
images_box.drop(['xmin', 'ymin', 'xmax', 'ymax', 'totwidth', 'totheight'], axis=1, inplace=True)

In [92]:
images_box.head()

     image  x_center  y_center     width    height
0  1025794  0.485840  0.206475  0.971680  0.412950
1  0481847  0.468750  0.179551  0.937500  0.359102
2  1514522  0.495417  0.189342  0.990833  0.378685
3  1340192  0.430176  0.219599  0.860352  0.439199
4  0810608  0.472168  0.199329  0.944336  0.398658

In [93]:
# Not needed since we'll use trainval as train
# images_family_train = pd.read_csv('images_family_train.txt', names = ['Plane Family'])
# images_family_train.describe()

## Train data processing (2/3 of data):

In [94]:
images_family_trainval = pd.read_csv('images_family_trainval.txt', names = ['Ident'])
images_family_trainval['image']=images_family_trainval.Ident.str.split().str.get(0)
images_family_trainval['label']=images_family_trainval.Ident.str.split(' ', 1).str.get(1)
images_family_trainval.drop('Ident', axis = 1, inplace=True)
images_family_trainval.head()

     image       label
0  1025794  Boeing 707
1  1340192  Boeing 707
2  0056978  Boeing 707
3  0698580  Boeing 707
4  0450014  Boeing 707

In [95]:
def get_key(val): 
    for key, value in fam_dict.items(): 
         if val == value: 
             return key 
  
    return "key doesn't exist"

images_family_trainval['class_num'] = images_family_trainval.label.apply(get_key)
images_family_trainval.head()

     image       label  class_num
0  1025794  Boeing 707         12
1  1340192  Boeing 707         12
2  0056978  Boeing 707         12
3  0698580  Boeing 707         12
4  0450014  Boeing 707         12

In [133]:
images_family_trainval = images_family_trainval.merge(images_box, how='left', on='image')

In [134]:
for x in images_family_trainval.drop('label', axis = 1).iterrows():
    pd.DataFrame([x[1][1:6]]).to_csv("labels/train/"+str(x[1][0]).zfill(7)+".txt", sep=' ', header=False, index=False)

In [97]:
# Not needed since we'll use trainval as train
# images_family_val = pd.read_csv('images_family_val.txt', names = ['Plane Family'])
# images_family_val.describe()

## Test data processing (1/3 of data):

In [98]:
images_family_test = pd.read_csv('images_family_test.txt', names = ['Ident'])
images_family_test['image']=images_family_test.Ident.str.split().str.get(0)
images_family_test['label']=images_family_test.Ident.str.split(' ', 1).str.get(1)
images_family_test.drop('Ident', axis = 1, inplace=True)
images_family_test.head()

     image       label
0  1514522  Boeing 707
1  0747566  Boeing 707
2  1008575  Boeing 707
3  0717480  Boeing 707
4  0991569  Boeing 707

In [99]:
images_family_test['class_num'] = images_family_test.label.apply(get_key)
images_family_test.head()

     image       label  class_num
0  1514522  Boeing 707         12
1  0747566  Boeing 707         12
2  1008575  Boeing 707         12
3  0717480  Boeing 707         12
4  0991569  Boeing 707         12

In [110]:
# images_family_test = images_family_test.merge(images_box, how='left', on='image')
images_family_test.head()

     image       label  class_num  x_center  y_center     width    height
0  1514522  Boeing 707         12  0.495417  0.189342  0.990833  0.378685
1  0747566  Boeing 707         12  0.463867  0.234848  0.927734  0.469697
2  1008575  Boeing 707         12  0.496094  0.241727  0.992188  0.483453
3  0717480  Boeing 707         12  0.491667  0.303922  0.983333  0.607843
4  0991569  Boeing 707         12  0.430664  0.213267  0.861328  0.426534

In [132]:
images_family_test.dtypes

image         object
label         object
class_num      int64
x_center     float64
y_center     float64
width        float64
height       float64
dtype: object

In [129]:
for x in images_family_test.drop('label', axis = 1).iterrows():
    pd.DataFrame([x[1][1:6]]).to_csv("labels/val/"+str(x[1][0]).zfill(7)+".txt", sep=' ', header=False, index=False)

[class_num          12
x_center     0.495417
y_center     0.189342
width        0.990833
height       0.378685
Name: 0, dtype: object]
[class_num          12
x_center     0.463867
y_center     0.234848
width        0.927734
height       0.469697
Name: 1, dtype: object]
[class_num          12
x_center     0.496094
y_center     0.241727
width        0.992188
height       0.483453
Name: 2, dtype: object]
[class_num          12
x_center     0.491667
y_center     0.303922
width        0.983333
height       0.607843
Name: 3, dtype: object]
[class_num          12
x_center     0.430664
y_center     0.213267
width        0.861328
height       0.426534
Name: 4, dtype: object]
[class_num          12
x_center       0.4925
y_center     0.203202
width           0.985
height       0.406404
Name: 5, dtype: object]
[class_num          12
x_center     0.476074
y_center     0.230986
width        0.952148
height       0.461972
Name: 6, dtype: object]
[class_num          12
x_center      0.48375
y_center     0.234127
width          0.9675
height       0.468254
Name: 7, dtype: object]
[class_num          12
x_center     0.493125
y_center     0.211307
width         0.98625
height       0.422614
Name: 8, dtype: object]
[class_num          12
x_center     0.450833
y_center      0.22416
width        0.901667
height        0.44832
Name: 9, dtype: object]
[class_num          12
x_center     0.493652
y_center     0.190647
width        0.987305
height       0.381295
Name: 10, dtype: object]
[class_num          12
x_center        0.495
y_center     0.213864
width            0.99
height       0.427729
Name: 11, dtype: object]
[class_num          12
x_center     0.493164
y_center     0.186275
width        0.986328
height       0.372549
Name: 12, dtype: object]
[class_num          12
x_center     0.473125
y_center     0.214286
width         0.94625
height       0.428571
Name: 13, dtype: object]
[class_num          12
x_center     0.452637
y_center     0.179887
width        0.905273
height       0.359773
Name: 14, dtype: object]
[class_num          12
x_center        0.495
y_center     0.191003
width            0.99
height       0.382006
Name: 15, dtype: object]
[class_num         12
x_center       0.492
y_center     0.18704
width          0.984
height       0.37408
Name: 16, dtype: object]
[class_num          12
x_center       0.4955
y_center     0.198085
width           0.991
height       0.396171
Name: 17, dtype: object]
[class_num          12
x_center        0.488
y_center     0.205015
width           0.976
height       0.410029
Name: 18, dtype: object]
[class_num          12
x_center     0.488333
y_center      0.19777
width        0.976667
height        0.39554
Name: 19, dtype: object]
[class_num          12
x_center      0.47375
y_center     0.325193
width          0.9475
height       0.650386
Name: 20, dtype: object]
[class_num          12
x_center       0.4885
y_center     0.220501
width           0.977
height       0.441003
Name: 21, dtype: object]
[class_num          12
x_center     0.471191
y_center     0.248212
width        0.942383
height       0.496423
Name: 22, dtype: object]
[class_num          12
x_center       0.4885
y_center     0.164454
width           0.977
height       0.328909
Name: 23, dtype: object]
[class_num          12
x_center      0.46875
y_center     0.253121
width          0.9375
height       0.506241
Name: 24, dtype: object]
[class_num         12
x_center      0.4935
y_center     0.19764
width          0.987
height       0.39528
Name: 25, dtype: object]
[class_num          12
x_center     0.468262
y_center     0.201201
width        0.936523
height       0.402402
Name: 26, dtype: object]
[class_num          12
x_center     0.464844
y_center      0.23862
width        0.929688
height       0.477239
Name: 27, dtype: object]
[class_num          12
x_center     0.482917
y_center     0.232941
width        0.965833
height       0.465882
Name: 28, dtype: object]
[class_num          12
x_center     0.495417
y_center     0.172414
width        0.990833
height       0.344828
Name: 29, dtype: object]
[class_num         12
x_center       0.495
y_center     0.23785
width           0.99
height        0.4757
Name: 30, dtype: object]
[class_num          12
x_center       0.4625
y_center     0.238201
width           0.925
height       0.476401
Name: 31, dtype: object]
[class_num          12
x_center      0.42875
y_center     0.194205
width          0.8575
height       0.388409
Name: 32, dtype: object]
[class_num          14
x_center     0.451875
y_center         0.15
width         0.90375
height            0.3
Name: 33, dtype: object]
[class_num         14
x_center       0.491
y_center     0.14823
width          0.982
height       0.29646
Name: 34, dtype: object]
[class_num          14
x_center        0.492
y_center     0.171829
width           0.984
height       0.343658
Name: 35, dtype: object]
[class_num          14
x_center     0.482083
y_center     0.143029
width        0.964167
height       0.286058
Name: 36, dtype: object]
[class_num          14
x_center       0.3725
y_center     0.138643
width           0.745
height       0.277286
Name: 37, dtype: object]
[class_num         14
x_center      0.4935
y_center     0.24705
width          0.987
height        0.4941
Name: 38, dtype: object]
[class_num          14
x_center       0.4575
y_center     0.150436
width           0.915
height       0.300872
Name: 39, dtype: object]
[class_num          14
x_center       0.4895
y_center     0.153166
width           0.979
height       0.306333
Name: 40, dtype: object]
[class_num          14
x_center       0.4625
y_center     0.253024
width           0.925
height       0.506048
Name: 41, dtype: object]
[class_num          14
x_center       0.4975
y_center     0.157585
width           0.995
height       0.315169
Name: 42, dtype: object]
[class_num          14
x_center      0.49125
y_center     0.158251
width          0.9825
height       0.316502
Name: 43, dtype: object]
[class_num          14
x_center      0.48375
y_center     0.242152
width          0.9675
height       0.484305
Name: 44, dtype: object]
[class_num          14
x_center     0.495417
y_center     0.185961
width        0.990833
height       0.371921
Name: 45, dtype: object]
[class_num          14
x_center     0.490833
y_center     0.169708
width        0.981667
height       0.339416
Name: 46, dtype: object]
[class_num          14
x_center     0.469727
y_center     0.162202
width        0.939453
height       0.324405
Name: 47, dtype: object]
[class_num          14
x_center       0.4925
y_center     0.163717
width           0.985
height       0.327434
Name: 48, dtype: object]
[class_num          14
x_center        0.492
y_center     0.213864
width           0.984
height       0.427729
Name: 49, dtype: object]
[class_num          14
x_center     0.339355
y_center     0.139568
width        0.678711
height       0.279137
Name: 50, dtype: object]
[class_num          14
x_center        0.491
y_center     0.156848
width           0.982
height       0.313697
Name: 51, dtype: object]
[class_num          14
x_center     0.471191
y_center      0.16954
width        0.942383
height        0.33908
Name: 52, dtype: object]
[class_num          14
x_center     0.443158
y_center     0.144717
width        0.886316
height       0.289433
Name: 53, dtype: object]
[class_num          14
x_center     0.494141
y_center     0.171942
width        0.988281
height       0.343885
Name: 54, dtype: object]
[class_num          14
x_center        0.494
y_center      0.17673
width           0.988
height       0.353461
Name: 55, dtype: object]
[class_num          14
x_center      0.44125
y_center     0.257951
width          0.8825
height       0.515901
Name: 56, dtype: object]
[class_num          14
x_center     0.489258
y_center     0.163818
width        0.978516
height       0.327635
Name: 57, dtype: object]
[class_num          14
x_center        0.493
y_center     0.181416
width           0.986
height       0.362832
Name: 58, dtype: object]
[class_num          14
x_center      0.48806
y_center     0.172287
width        0.976119
height       0.344575
Name: 59, dtype: object]
[class_num          14
x_center       0.3575
y_center     0.125921
width           0.715
height       0.251843
Name: 60, dtype: object]
[class_num          14
x_center     0.497917
y_center     0.407333
width        0.995833
height       0.814667
Name: 61, dtype: object]
[class_num          14
x_center     0.488947
y_center     0.167442
width        0.977895
height       0.334884
Name: 62, dtype: object]
[class_num          14
x_center       0.4875
y_center     0.360837
width           0.975
height       0.721675
Name: 63, dtype: object]
[class_num          14
x_center        0.495
y_center     0.145803
width            0.99
height       0.291605
Name: 64, dtype: object]
[class_num          14
x_center     0.493164
y_center     0.208633
width        0.986328
height       0.417266
Name: 65, dtype: object]
[class_num          15
x_center     0.467822
y_center     0.178947
width        0.935644
height       0.357895
Name: 66, dtype: object]
[class_num          15
x_center     0.441895
y_center     0.223176
width        0.883789
height       0.446352
Name: 67, dtype: object]
[class_num          15
x_center     0.490526
y_center     0.480122
width        0.981053
height       0.960245
Name: 68, dtype: object]
[class_num          15
x_center     0.492917
y_center      0.27032
width        0.985833
height        0.54064
Name: 69, dtype: object]
[class_num          15
x_center     0.473633
y_center     0.257182
width        0.947266
height       0.514364
Name: 70, dtype: object]
[class_num          15
x_center      0.47168
y_center     0.245822
width        0.943359
height       0.491643
Name: 71, dtype: object]
[class_num          15
x_center        0.493
y_center     0.268041
width           0.986
height       0.536082
Name: 72, dtype: object]
[class_num          15
x_center     0.492083
y_center     0.268666
width        0.984167
height       0.537332
Name: 73, dtype: object]
[class_num          15
x_center     0.494167
y_center     0.274631
width        0.988333
height       0.549261
Name: 74, dtype: object]
[class_num          15
x_center     0.490234
y_center     0.366571
width        0.980469
height       0.733142
Name: 75, dtype: object]
[class_num          15
x_center       0.4625
y_center     0.262218
width           0.925
height       0.524436
Name: 76, dtype: object]
[class_num          15
x_center        0.493
y_center     0.186578
width           0.986
height       0.373156
Name: 77, dtype: object]
[class_num          15
x_center     0.477539
y_center     0.288489
width        0.955078
height       0.576978
Name: 78, dtype: object]
[class_num          15
x_center        0.491
y_center      0.25885
width           0.982
height       0.517699
Name: 79, dtype: object]
[class_num          15
x_center     0.464844
y_center      0.39037
width        0.929688
height       0.780741
Name: 80, dtype: object]
[class_num          15
x_center     0.489167
y_center     0.269089
width        0.978333
height       0.538177
Name: 81, dtype: object]
[class_num          15
x_center     0.395984
y_center          0.2
width        0.791967
height            0.4
Name: 82, dtype: object]
[class_num          15
x_center       0.4945
y_center     0.276549
width           0.989
height       0.553097
Name: 83, dtype: object]
[class_num          15
x_center        0.496
y_center     0.249632
width           0.992
height       0.499264
Name: 84, dtype: object]
[class_num          15
x_center       0.4975
y_center     0.273723
width           0.995
height       0.547445
Name: 85, dtype: object]
[class_num          15
x_center     0.474545
y_center     0.225703
width        0.949091
height       0.451407
Name: 86, dtype: object]
[class_num          15
x_center     0.478027
y_center     0.278818
width        0.956055
height       0.557637
Name: 87, dtype: object]
[class_num          15
x_center        0.491
y_center     0.265487
width           0.982
height       0.530973
Name: 88, dtype: object]
[class_num          15
x_center     0.485352
y_center     0.261151
width        0.970703
height       0.522302
Name: 89, dtype: object]
[class_num          15
x_center     0.478027
y_center     0.252882
width        0.956055
height       0.505764
Name: 90, dtype: object]
[class_num          15
x_center     0.494444
y_center     0.275652
width        0.988889
height       0.551304
Name: 91, dtype: object]
[class_num          15
x_center       0.4915
y_center     0.280973
width           0.983
height       0.561947
Name: 92, dtype: object]
[class_num          15
x_center        0.494
y_center     0.269174
width           0.988
height       0.538348
Name: 93, dtype: object]
[class_num          15
x_center      0.48875
y_center     0.261084
width          0.9775
height       0.522167
Name: 94, dtype: object]
[class_num          15
x_center     0.491406
y_center      0.27381
width        0.982812
height       0.547619
Name: 95, dtype: object]
[class_num          15
x_center       0.4955
y_center     0.262887
width           0.991
height       0.525773
Name: 96, dtype: object]
[class_num          15
x_center     0.465625
y_center     0.309761
width         0.93125
height       0.619522
Name: 97, dtype: object]
[class_num          15
x_center     0.485352
y_center     0.258357
width        0.970703
height       0.516713
Name: 98, dtype: object]
[class_num          15
x_center     0.486328
y_center     0.251799
width        0.972656
height       0.503597
Name: 99, dtype: object]
[class_num          15
x_center        0.494
y_center     0.243741
width           0.988
height       0.487482
Name: 100, dtype: object]
[class_num          15
x_center       0.4884
y_center     0.257447
width          0.9768
height       0.514894
Name: 101, dtype: object]
[class_num          15
x_center     0.480952
y_center     0.217655
width        0.961905
height        0.43531
Name: 102, dtype: object]
[class_num          15
x_center     0.472168
y_center     0.232289
width        0.944336
height       0.464578
Name: 103, dtype: object]
[class_num          15
x_center     0.492083
y_center     0.344458
width        0.984167
height       0.688915
Name: 104, dtype: object]
[class_num          15
x_center     0.493652
y_center     0.243338
width        0.987305
height       0.486676
Name: 105, dtype: object]
[class_num          15
x_center     0.477539
y_center     0.165035
width        0.955078
height        0.33007
Name: 106, dtype: object]
[class_num          15
x_center         0.49
y_center     0.243227
width            0.98
height       0.486453
Name: 107, dtype: object]
[class_num          15
x_center       0.4885
y_center       0.2441
width           0.977
height       0.488201
Name: 108, dtype: object]
[class_num          15
x_center     0.487305
y_center     0.223373
width        0.974609
height       0.446746
Name: 109, dtype: object]
[class_num          15
x_center        0.478
y_center     0.193793
width           0.956
height       0.387586
Name: 110, dtype: object]
[class_num          15
x_center       0.4875
y_center       0.2441
width           0.975
height       0.488201
Name: 111, dtype: object]
[class_num          15
x_center       0.4975
y_center     0.216077
width           0.995
height       0.432153
Name: 112, dtype: object]
[class_num          15
x_center     0.497559
y_center     0.453237
width        0.995117
height       0.906475
Name: 113, dtype: object]
[class_num          15
x_center     0.481445
y_center     0.259629
width        0.962891
height       0.519258
Name: 114, dtype: object]
[class_num          15
x_center     0.494629
y_center     0.235971
width        0.989258
height       0.471942
Name: 115, dtype: object]
[class_num          15
x_center        0.491
y_center     0.241888
width           0.982
height       0.483776
Name: 116, dtype: object]
[class_num          15
x_center       0.4905
y_center     0.239323
width           0.981
height       0.478645
Name: 117, dtype: object]
[class_num          15
x_center     0.491333
y_center     0.235672
width        0.982667
height       0.471344
Name: 118, dtype: object]
[class_num          15
x_center       0.4955
y_center     0.253314
width           0.991
height       0.506627
Name: 119, dtype: object]
[class_num          15
x_center       0.4925
y_center     0.243227
width           0.985
height       0.486453
Name: 120, dtype: object]
[class_num          15
x_center       0.4885
y_center     0.212813
width           0.977
height       0.425626
Name: 121, dtype: object]
[class_num          15
x_center       0.4935
y_center     0.239676
width           0.987
height       0.479351
Name: 122, dtype: object]
[class_num          15
x_center      0.48877
y_center     0.264164
width        0.977539
height       0.528329
Name: 123, dtype: object]
[class_num          15
x_center     0.494167
y_center     0.250616
width        0.988333
height       0.501232
Name: 124, dtype: object]
[class_num          15
x_center     0.489167
y_center     0.251232
width        0.978333
height       0.502463
Name: 125, dtype: object]
[class_num          15
x_center     0.469853
y_center     0.300326
width        0.939706
height       0.600653
Name: 126, dtype: object]
[class_num          15
x_center        0.498
y_center     0.326215
width           0.996
height        0.65243
Name: 127, dtype: object]
[class_num          15
x_center      0.49375
y_center     0.258503
width          0.9875
height       0.517007
Name: 128, dtype: object]
[class_num          15
x_center        0.491
y_center     0.249012
width           0.982
height       0.498024
Name: 129, dtype: object]
[class_num          15
x_center     0.490417
y_center     0.241995
width        0.980833
height        0.48399
Name: 130, dtype: object]
[class_num          15
x_center      0.49375
y_center     0.256803
width          0.9875
height       0.513605
Name: 131, dtype: object]
[class_num          15
x_center      0.48291
y_center     0.286838
width         0.96582
height       0.573677
Name: 132, dtype: object]
[class_num          15
x_center     0.494141
y_center     0.211816
width        0.988281
height       0.423631
Name: 133, dtype: object]
[class_num          15
x_center      0.48625
y_center     0.236948
width          0.9725
height       0.473896
Name: 134, dtype: object]
[class_num          15
x_center       0.4905
y_center     0.217552
width           0.981
height       0.435103
Name: 135, dtype: object]
[class_num          15
x_center     0.493164
y_center     0.228058
width        0.986328
height       0.456115
Name: 136, dtype: object]
[class_num          15
x_center       0.4895
y_center     0.230486
width           0.979
height       0.460972
Name: 137, dtype: object]
[class_num          15
x_center     0.493164
y_center     0.223741
width        0.986328
height       0.447482
Name: 138, dtype: object]
[class_num          15
x_center        0.493
y_center     0.229351
width           0.986
height       0.458702
Name: 139, dtype: object]
[class_num          15
x_center      0.49125
y_center     0.230296
width          0.9825
height       0.460591
Name: 140, dtype: object]
[class_num          15
x_center     0.490833
y_center     0.230911
width        0.981667
height       0.461823
Name: 141, dtype: object]
[class_num          15
x_center     0.486875
y_center     0.255765
width         0.97375
height        0.51153
Name: 142, dtype: object]
[class_num          15
x_center       0.4915
y_center     0.220501
width           0.983
height       0.441003
Name: 143, dtype: object]
[class_num          15
x_center     0.480469
y_center     0.243431
width        0.960938
height       0.486862
Name: 144, dtype: object]
[class_num          15
x_center     0.473047
y_center     0.231027
width        0.946094
height       0.462054
Name: 145, dtype: object]
[class_num          15
x_center     0.491875
y_center     0.222892
width         0.98375
height       0.445783

## Move trainval and test images into their respective directories

In [13]:
import os
import shutil

def move(src, dest):
    shutil.move(src, dest)

source = '/home/barrett/aircraft/fgvc-aircraft-2013b/data/images/'
train_dest = '/home/barrett/aircraft/fgvc-aircraft-2013b/data/images/train/'

images_family_trainval.apply(lambda row: move(source+str(row.image)+'.jpg',
                                              train_dest), axis=1)

0       None
1       None
2       None
3       None
4       None
        ...
6662    None
6663    None
6664    None
6665    None
6666    None
Length: 6667, dtype: object